@font-face {
    font-family: 'digital-7';
    src: url('/src/font/Digital7/digital-7-webfont.woff') format('woff2'),
        url('/src/font/Digital7/digital-7-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.App{
    font-family: "Roboto";
    color: #ddd;

    height: 100vh;
    width: 100vw;
}

h1 {
    font-family: "Roboto";
    color: #ddd;

    font-weight: normal;
    font-size: 2.5em;
}

#controls{
    gap: 5vw;
}

.setting-box{
    margin: 3vh 2vw;
}
.setting-label{
    margin: 0;
}
.setting-dial{
    margin-top: 10px;
    gap: 15px;
}
.setting-value{
    font-family: 'digital-7', 'Roboto';
    font-size: 2em;
    margin: 0;
}

i {
    cursor: pointer;
}